html, body {
    height: 100%;
    width:100%;
    min-width: 1200px;
}
.header,header, .footer,footer {
    background: #404042;
    background-image: linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -o-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -moz-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -webkit-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -ms-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #404042), color-stop(0.69, #3b393b));
}

.footer,footer {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0 0;
    text-align: center;
    bottom: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
}
.footer > div,footer > div {
    line-height: 30px;
}
.wrap {
    height:100%;
    width: 100%;
}
.wrap-reality {
    position: absolute;
    width: 100%;
    background: #1d1d1d;
    top: 30px;
    bottom: 70px
}
.wrap-reality .main {
    min-width: 1150px;
    width: 90%;
    margin: 0 auto 0 80px;
    height: 100%;
    position: relative;
}
.wrap-reality .main-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    margin-right: -18px;
}
.main-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
}
.main .main-top {
    height: 510px;
    min-width: 1110px;
    width: 100%;
}
.main-top .video-left, .main-top .video-right, .main-bottom .editor-right, .main-bottom .editor-left {
    float:left;
}
.main-top .video-left {
    width: 850px;
}
.main-top .video-right, .main-bottom .editor-right {
    position: relative;
    height: 100%;
    min-width: 260px;
    width: calc(100% - 882px);
    vertical-align: top;
}
.video-right article {
    position: absolute;
    width: 80%;
    left: 50%;
    height: 50%;
    min-width: 250px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto -40%;
}
.video-right h3 {
    font-size: 20px;
    color: white;
    min-width: 250px;
    line-height: 50px;
}
.video-right ul li {
    line-height: 30px;
    color: #B1ACAC;
}
.video-right span {
    display: inline-block;
    padding: 0 10px 0 0;
}
.video-right span::after {
    content: ":";
    font-size: 16px;
}
.video-right .extra-line {
    border: 4px dashed #2F2F2F;
    height: 100%;
    width: 0;
}
.video-right a {
    letter-spacing: 1px;
}
.video-right a:hover {
    box-shadow: initial;
}
.main .main-bottom {
    overflow: hidden;
    padding: 2em 0em;
    min-width: 1110px;
}

/*//main-bottom   样式设置*/

.main-bottom p {
    padding: 0 0 2em 0;
}
.main-bottom .editor-left {
    width: 840px;
}
.main-bottom .wrap-article {
    font-size: 12px;
    display: inline-block;
    color: #ccc;
    font: 14px/1.5 "微软雅黑";
    line-height: 30px;
    text-indent: 2em;
    margin: 1em 20px 1em 0;
    text-align: justify;
}
.main-bottom .wrap-article.write{
    border: 5px #555 dashed;
}
.main-bottom .wrap-postil {
    font-size: 12px;
    display: inline-block;
    font: 14px/1.5 "微软雅黑";
    line-height: 16px;
    margin: 1em 0px 1em 20px;
    text-align: justify;
    color: #999;
}
.main-bottom .wrap-postil.write{
    border: 5px dashed #555;
}
/*//绿色小圆按钮pin-menu样式*/

.wrap-reality .extra-main-left {
    position: absolute;
    top: 0;
    z-index: 9999999999;
    width: 50px;
    left: 0px;
    width: 80px;
    bottom: 0;
    /*background-color: #303030;*/
}
.btn-circle {
    border-radius: 50%;
}
.extra-main-left .nav-boot {
    position: absolute;
    left: 15px;
    bottom: 10px;
    box-shadow: 2px 3px 1px -2px rgba(17, 17, 17, 1);
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.2;
    line-height: 50px;
    border: 1px solid rgb(67, 136, 42);
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    background-color: #2AA232;
    color: rgba(255, 255, 255, 0.67);
    transition: all 100ms linear;
    transform: rotateZ(0deg) scale(1);
}
.extra-main-left .list {
    position: absolute;
    bottom: 60px;
    width: 100%;
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
    left: 0;
    transition: all 200ms linear;
}
.extra-main-left .list-item {
    width: 42px;
    /*height: 42px;*/
    line-height: 44px;
    overflow: hidden;
    display: inline-block;
    height: 0;
    text-align: center;
    font-size: 25px;
    transition: all 200ms linear;
}
.nav-boot i {
    transform: rotateZ(0deg);
    color: white;
    display: inline-block;
    font-size: 35px;
    line-height: 48px;
  width: 48px;
  height: 48px;
    transition: all 100ms linear;
}
.nav-boot:hover{
  opacity: 1;
}
.show .nav-boot i{
    transform: rotateZ(135deg);
}
.show.extra-main-left .nav-boot{
  opacity: 1;
}
.show.extra-main-left .list-item{
  height: 42px;
}
.extra-main-left li:hover {
    background-color: #4E4e4E;
}
.extra-main-left li.active {
    background-color: rgb(70, 154, 50);
    color: white;
}
.extra-main-left a:hover {
    text-shadow: none;
    color: #fff;
}
.wrap-postil .text{
  display: inline-block;
  text-indent: 2em;
}
.page-1-postil >div{
  padding: 5px 0;
}
[class^="page-"]{
    margin: .5em;
}
