html, body {
}
.header,header, .footer,footer {
    background: #1d1d1d;
    /*background-image: linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -o-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -moz-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -webkit-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -ms-linear-gradient(right, #404042 0%, #3b393b 69%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #404042), color-stop(0.69, #3b393b));*/
}
.header{
background: #3b393b!important;
}

.footer,footer {
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0 0;
    text-align: center;
}
.footer > div,footer > div {
    line-height: 30px;
}
.wrap {
    height: 100%;
width: 100%;
min-width: 1200px;
}
.wrap-reality {
    width: 100%;
    background: #303030;
    top: 30px;
    bottom: 70px
}
.wrap-reality .main {
    min-width: 1200px;

    width: 90%;
    margin: auto;
    background-color: #303030;
    height: 100%;
    position: relative;
}
.wrap-reality .main-scroll {
    height: 100%;
    min-width: 1200px;
}
/**{
    -webkit-user-select: none;
}*/
.main-body {
    /*position: absolute;*/
}
.main .main-top {
    height: 510px;
    min-width: 1120px;

}
.main-top .video-left, .main-top .video-right, .main-bottom .editor-right, .main-bottom .editor-left {
    float:left;
}
.main-top .video-left {
    width: 850px;
}
.main-top .video-right, .main-bottom .editor-right {
    position: relative;
    height: 100%;
    min-width: 250px;
    width: calc(100% - 858px);
    vertical-align: top;
}
.video-right article {
    position: absolute;
    height: 50%;
    width: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.video-right h3 {
    font-size: 20px;
    color: white;
    min-width: 250px;
    line-height: 50px;
}
.video-right ul li {
    line-height: 30px;
    color: #B1ACAC;
}
.video-right span {
    display: inline-block;
    padding: 0 10px 0 0;
}
.video-right span::after {
    content: ":";
    font-size: 16px;
}
.extra-line {
    border: 4px dashed #2F2F2F;
    height: 100%;
    width: 0;
    float: left;
}
.video-right a {
    letter-spacing: 1px;
}
.video-right a:hover {
    box-shadow: initial;
}
.main .main-bottom {
position: relative;
    min-width: 1120px;
}

/*//main-bottom   样式设置*/

.main-bottom p {
    padding: 0 0 2em 0;
}
.main-bottom .editor-left {
    width: 840px;
}
.main-bottom .wrap-article {
outline: 0;
    font-size: 12px;
    display: inline-block;
position: relative;/*批注需要绝对定位*/
    color: #ccc;
    font: 16px/2 "微软雅黑";
    line-height: 30px;
    text-indent: 2em;
    margin: 56px 20px 18px 0;
    text-align: justify;
}
.main-bottom .wrap-article.write{
    border: 5px #555 dashed;
}
.main-bottom .wrap-postil {
    font-size: 12px;
    display: inline-block;
    font: 12px/1 "微软雅黑";
    line-height: 16px;
    margin:56px 0px 18px 0px;
    text-align: justify;
    min-width: 240px;
    width: calc(100% - 880px);
    color: #999;
}
.main-bottom .wrap-postil.write{
    border: 5px dashed #555;
}
/*//绿色小圆按钮pin-menu样式*/

.extra-main-left {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 50px;
    left: -80px;
    width: 80px;
    bottom: 0;
transition: all 100ms linear;
    background-color: #111;
}
.extra-main-left .nav-triangle{
    font-size: 30px;
transition: all 100ms linear;
color: #aaa;
width: 26px;
height: 45px;
line-height: 45px;
position: absolute;
cursor: pointer;
top: 50%;
text-align: center;
left: 100%;
right: auto;
border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(17, 17, 17);
}
.clearfix:after {       /*在类名为“clearfix”的元素内最后面加入内容；*/
    content: ".";     /*内容为“.”就是一个英文的句号而已。也可以不写。*/
    display: block;   /*加入的这个元素转换为块级元素。*/
    clear: both;     /*清除左右两边浮动。*/
    visibility: hidden;     /*可见度设为隐藏。注意它和display:none;是有区别的。visibility:hidden;仍然占据空间，只是看不到而已；*/
    line-height: 0;    /*行高为0；*/
    height: 0;     /*高度为0；*/
    font-size:0;    /*字体大小为0；*/
}
.clearfix { *zoom:1;}   /*这是针对于IE6的，因为IE6不支持:after伪类，这个神奇的zoom:1让IE6的元素可以清除浮动来包裹内部元素。具体意思的话，不用深究，听说微软的工程师自己都无法解释清楚。height:1%效果也是一样。*/
nav.extra-main-left.show {
    left:0;
}
nav.extra-main-left.show  .nav-triangle{
    left: auto;
    right:0;
    border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
    background-color: rgb(48, 48, 48);
}

.btn-circle {
    border-radius: 50%;
}
.extra-main-left .nav-boot {
    position: absolute;
    left: 15px;
    bottom: 10px;
    box-shadow: 2px 3px 1px -2px rgba(17, 17, 17, 1);
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.2;
    line-height: 50px;
    border: 1px solid rgb(67, 136, 42);
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    background-color: #2AA232;
    color: rgba(255, 255, 255, 0.67);
    transition: all 100ms linear;
    transform: rotateZ(0deg) scale(1);
}
.extra-main-left .list {
    position: absolute;
    bottom: 60px;
    width: 100%;
    color: rgba(255, 255, 255, 0.67);
    text-align: center;
    left: 0;
    transition: all 200ms linear;
}
.extra-main-left .list-item {
    width: 42px;
    /*height: 42px;*/
    line-height: 44px;
    overflow: hidden;
    display: inline-block;
    height: 0;
    text-align: center;
    font-size: 25px;
    transition: all 200ms linear;
}
.nav-boot i {
    transform: rotateZ(0deg);
    color: white;
    display: inline-block;
    font-size: 35px;
    line-height: 48px;
  width: 48px;
  height: 48px;
    transition: all 100ms linear;
}
.nav-boot:hover{
  opacity: 1;
}
.showlist .nav-boot i{
    transform: rotateZ(135deg);
}
.showlist.extra-main-left .nav-boot{
  opacity: 1;
}
.showlist.extra-main-left .list-item{
  height: 42px;
}
.extra-main-left li:hover {
    background-color: #4E4e4E;
}
.extra-main-left li.active {
    background-color: rgb(70, 154, 50);
    color: white;
}
.extra-main-left a:hover {
    text-shadow: none;
    color: #fff;
}
.wrap-postil .text{
  display: inline-block;
  text-indent: 2em;
}
.page-1-postil >div{
  padding: 5px 0;
}
[class^="page-"]{
    margin: .5em;
}
